/*Slide3*/
.tres{
  &  .lamparita{
    position: absolute;
    top:0%;
    left: 0%;
    display:none;
    @include mobile{
      display: none;
    }
    @include tablet-init{
      display:none;
      //width:100px;
    }
    @include mini-labtop {
        display:none;
        //width:110px;
    }
    @include labtop{
        display:block;
        width:120px;
    }
    @include portatil{
      display: block;
      width:93px;
    }
    @include convencional{
        display: block;
        width:93px;
    }
    @include indefinida{
        display: block;
        width:93px;
    }
    @include high{
        display: block;
        width:100px;
    }
    @include superHigh {
        display: block;
        width:180px;
    }
    img{
      width:100%;

    }
  }
  &  .kitchen{
    position: absolute;
    bottom:4%;
    left: 0%;
    display:none;
    @include mobile{
      display:none;
    }
    @include tablet-init{
      display:none;
        //width: 477px;
    }
    @include mini-labtop {
      display:none;
        //width: 577px;
    }
    @include labtop{
      display:block;
      width:500px;
      left: -90;
    }
    @include portatil{
      display:block;
      width:448px;
      left: -92;
    }
    @include convencional{
      display:block;
      width:500px;
      left: -92;
    }
    @include indefinida{
      display:block;
      width:550px;
      left: -92;
    }
    @include high{
      display:block;
        width:550px;
    }
    @include superHigh {
      display:block;
      width:750px;
    }
    img{
      width:100%;

    }
  }
  &  .flores{
    position: absolute;
    bottom:10%;
    right: 6%;
    display:none;
    @include mobile{
      display: none;
    }
    @include tablet-init{
      display:none;
        //width: 180px;
    }
    @include mini-labtop {
        display: block;
        width: 180px;
    }
    @include labtop{
        display: block;
          width: 120px;
    }
    @include portatil{
      display: block;
      width: 100px;
    }
    @include convencional{
        display: block;
            width: 100px;
    }
    @include indefinida{
        display: block;
              width: 100px;
    }
    @include high{
        display: block;
            width: 100px;
    }
    @include superHigh {
        display:block;
            width: 300px;
    }
    img{
      width:100%;

    }
  }
}
