

$font-stack: 'Open Sans Condensed', sans-serif;
$txt-red:#e03845;
$txt-white:#ffffff;
$bg-red:#e03845;
$bg-white:#ffffff;

body { font-family: $font-stack; background-color: $base-white; font-size: 20px;}
h1{font-size:32px;}
h2{font-size: 28px;}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import "modules/_mixins";
@import "modules/_base";
@import "modules/_nav";
@import "modules/_modal";
@import "modules/_arrow";
@import "modules/_asideNav";
@import "modules/_text";
@import "modules/_hover";
@import "modules/_promo";
@import "modules/_slide1";
@import "modules/_slide2";
@import "modules/_slide3";
@import "modules/_slide4";
@import "modules/_slide5";
@import "modules/_footer";
